@media (max-width: 800px) {
    #desc {
        padding: 0 0 !important;
    }

    .inner {
        display: block !important;
    }

    .sidebar {
        display: none;
        position: absolute;
    }
}

.containter {
    margin: 3rem;
}

.inner {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 30% 40% 30% ;
    grid-template-areas:
        "... title ..."
        "... content ...";
}

.sidebar {
    grid-area: sidebar;
    background: #1d2021;
    height: fit-content;
    padding: 0.5rem 0.5rem;
}
.sidebar .description {
    color: #a89983;
}

.title {
    grid-area: title;
}

.title span {
    color: #a89983;
}

.content {
    margin: 0 0.3rem;
    grid-area: content;
}

.content p {
    width: 40rem;
    max-width: 100%;
}

.content p {
    width: 100%;
}

#blogs li span {
    color: #928374;
}

#blogs li {
    max-width: fit-content;
}

#blogs li:hover .title {
    color: #83a598 !important;
}
