* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather';

    /* https://coolors.co/ee8f1b-d17b0f-3e3e33-70715c-d9dac9-fcfced */
    --bg: #fcfced;
    --bg2: #d9dac9;

    --fg: #3e3e33;
    --fg2: #575848;

    --accent: #d17b0f;
    --accent-transparent: rgba(238, 143, 27, 0.5);
    --accent2: #ee8f1b;
    --accentBlue: #0f65d1;
}

body {
    background: var(--accent);
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    overflow: hidden;
}

main::before {
    background-image: url(/assets/paper-orange.png);
    background-position: 50%;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
}

h2 {
    z-index: 4;
    position: relative;
    color: var(--bg2);
    font-size: 7em;
    transition: all 0.2s ease-in-out;
    padding-left: 2px;
    padding-right: 2px;
    width: fit-content;
    margin: auto auto;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 600;
}

nav {
    margin: auto auto;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav .nav-inner {
    text-align: center;
    position: relative;
    z-index: 3;
    border-radius: 10px;
    background: var(--accent);
}

nav .nav-inner::after {
    background-image: url(/assets/paper-orange.png);
    background-position: 50%;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    border-radius: 10px;
}

main {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

/* -- */

canvas {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    /* height: 100%; */
    font-family: 'Playwrite GB S'
}

nav h2.hovered {
    transition: color 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    transition: z-index none;
    background: var(--bg);
    color: var(--accent2);
    cursor: pointer;
    z-index: 6;
}

.not-hovered {
    color: var(--accent2);
    z-index: 1;
}

.pfp {
    position:absolute;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    clip-path: circle(45% at 50% 50%);
    z-index: 5;
}

.pfp.active {
    opacity: 1;
}

.pfp::after {
    content: "";
    background: url(/assets/paper-white.png);
    background-size: cover;
    background-position: 20%;
    background-clip: circle(45% at 50% 50%);
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.pfp.inactive {
    opacity: 0;
}

.pfp img {
    width: 15em;

}

.load-fonts {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: -100;
    right: -100;
}

.load-fonts .f1 {
    font-family: "Playwrite GB S", serif;
}

.load-fonts .f2 {
    font-family: "Monoton", serif;
}

.load-fonts .f3 {
    font-family: "Merriweather", serif;
}

.load-fonts .f4 {
    font-family: "Caveat", serif;
}

.load-fonts .f5 {
    font-family: "Bakbak One", serif;
}
