* {
    box-sizing: border-box;
}

.popup-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.popup-inner {
    background-color:#2d2d2d;
    padding: 40px 60px;
    border-radius: 5px;
    width: 750px;
    max-width: 100%;
}