@font-face {
  font-family: 'terminus';
  font-weight: bold;
  font-style: italic;
  src: url('./Terminess (TTF) Nerd Font Complete Mono Windows Compatible.ttf');
}

body {
    color: #ebdbb2;
    background: #282828;
    padding: 0 15%;
    font-family: terminus;
}

body::-webkit-scrollbar {
    display: none;
}

em {
    color: #d65d0e;
}

.center {
    text-align: center;
}

.center-Items {
    display: flex;
    justify-content: center;
}

button {
    background: #fe8019 !important;
    padding: 0.5rem 1rem !important;
    color: #fabd2f !important;
}

button:hover {
    filter: brightness(85%) !important;
}

h1,h2 {
    color: #f9f5d7;
}

a {
    color: #458588 !important;
}

a:hover {
    color: #83a598;
}
