* {
    margin: 0;
    font-family: 'Writer';

    /* https://coolors.co/ee8f1b-d17b0f-3e3e33-70715c-d9dac9-fcfced */
    --bg: #fcfced;
    --bg2: #d9dac9;

    --fg: #2A2A22;
    --fg2: #575848;

    --accent: #d17b0f;
    --accent2: #ee8f1b;
}

@font-face {
    font-family: "Writer";
    font-style: normal;
    font-weight: normal;
    src: url(/assets/fonts/PPWriter-Regular.otf)
}

@font-face {
    font-family: "Writer";
    font-style: normal;
    font-weight: lighter;
    src: url(/assets/fonts/PPWriter-ThinText.otf)
}

@font-face {
    font-family: "Writer";
    font-style: normal;
    font-weight: bold;
    src: url(/assets/fonts/PPWriter-Bold.otf)
}


@font-face {
    font-family: "Writer";
    font-style: italic;
    font-weight: normal;
    src: url(/assets/fonts/PPWriter-RegularItalic.otf)
}

@font-face {
    font-family: "Writer";
    font-style: italic;
    font-weight: bold;
    src: url(/assets/fonts/PPWriter-BoldItalic.otf)
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    src: url(/assets/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf)
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: italic;
    src: url(/assets/fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf)
}

/* General */
body {
    position: relative;
    z-index: 0;
    background-color: var(--bg);
    color: var(--fg);
}


.wrapper {
    width: 70%;
    max-width: 1400px;
    margin: auto;
}

.wrapper-post {
    width: 70%;
    max-width: 700px;
    margin: auto;
    font-size: 1.3rem;
}

.wrapper-post p {
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-bottom: 1.3rem;
}

.wrapper-split {
    display: flex;
    gap: 3rem;
}

.wrapper-full {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.centered p, .centered img{
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper-title {
    text-align: center;
}

.wrapper-img {
    width: 70%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.3rem;;
    margin-top: 1.3rem;;
}

.wrapper-img .caption {
    margin-top: 10px;
}

.wrapper-img .split {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.wrapper-img .split img {
    width: calc(50% - 0.25rem);
}

.wrapper-img img {
    width: 100%;
    max-width: unset;
    max-height: unset;
    margin: 0;
}

.mobile {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-bottom: 3rem;
}

.header h2 {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.byline {
    font-weight: lighter;
    text-align: center;
}

.header .wrapper {
    width: 60%;
    height: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header .header-inner {
    width: 50vw;
}

.header img {
    max-width: unset;
    max-height: unset;
    margin: 0;
    padding: 0;
    width: 50vw;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.header nav {
    width: unset;
    font-size: 0.8;
    margin-bottom: 0;
    padding: 5px;
}

a:has(article) {
    text-decoration: none !important;
    border: 3px solid var(--fg);
    padding: 1rem;
}
a:has(article):hover {
    border-color: var(--fg);
    background-color: var(--fg);
    color: var(--bg);
}

.bento-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 1rem;
}

.image-grid {
    display: flex;
    gap: 0.5rem;
}

.caption {
    font-weight: 100;
    font-size: 0.85rem;
    line-height: 0.85rem;
    margin-top: 0;
    margin-bottom: 0;
}


.no-scroll {
  overflow: hidden;
}

.get-in-touch {
    text-align: center;
}

.get-in-touch p {
    display: inline-block;
    margin-right: 0.5rem;
}

.smaller {
    font-size: 1rem;
    font-weight: 100;
}

.larger {
    font-size: 2rem;
}

.blue {
    color: var(--accentBlue);
}

.orange {
    color: var(--accent);
}

.grey {
    color: var(--fg2);
}

.header .smaller {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

}

.icon {
    height: 1rem;
    width: 1rem;
    align-self: center;
    margin: 0;
    margin-right: 0.2em;
    margin-bottom: -3px;
}

p, li, ul {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.25rem;
}

a {
    padding-left: 0.1em;
    padding-right: 0.1em;
    transition: background-color 0.2s ease;
    text-decoration: underline;
    color: var(--fg);
}

a:hover {
    color: var(--accent);
}

.button {
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border: 4px solid var(--fg);
    line-height: 1.1;
    font-weight: 700;
    transition: all 0.2s ease;
}

.button:hover {
    color: var(--bg);
    text-shadow: none;
    background-color: var(--fg);
    border: 4px solid var(--fg);
}

hr {
    width: 25%;
    margin: 20px auto;
    border: none;
    border-top: 1px solid var(--fg);
    text-align: center;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

img {
    margin: 1rem 0;
    max-width: 100%;
    max-height: 500px;
}

aside {
    padding-left: 1em;
    margin-bottom: 1em;
    border-left: 2px solid var(--accent2);
    color: var(--fg2);
}

/* NAVBAR */

nav {
    padding-top: 1rem;
    border-bottom: 2px solid var(--fg);
    margin: auto auto;
    margin-bottom: 3rem;
    width: 70%;
    /* background: var(--fg); */
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-size: 1rem;
}

nav ul {
display: flex;
  list-style: none;
  padding-left: 0.25rem;
  align-items: center;
  margin-bottom: 0;
}

nav ul li {
    float: left;
  margin-bottom: 0;
  list-style: none;
  padding-left: 2.25rem;
}

nav ul li a, nav a:has(h1) {
    text-decoration: none;
}

/* Footer */

footer {
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    padding: 1em 0;
    border-top: 2px solid var(--fg);
    color: var(--fg2);
    text-align: center;
}

.footer-wrapper {
    padding: 0 1em;
    width: 100%
}

footer a {
    text-decoration: none;
    margin-right: 0.5em;
}

@media only screen and (max-width: 992px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .header {
        flex-direction: column;
        height: unset;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    .header img {
        width: 100%;
        height: 70lvh;
    }

    .header h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 0.3rem;
        text-align: left;
    }

    .byline {
        margin-top: 0.3rem;
        margin-bottom: 0;
        text-align: left;
    }

    #main {
        margin-top: 1.5rem;
    }

    .header .header-inner {
        width: 100%;
    }

    .header .wrapper {
        width: 90%;
        display: block;
    }

    nav.mobile {
        display: flex;
    }

    nav h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .bento-box {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    nav {
        width: calc(100% - 2rem);
        padding: 1rem;
    }

    nav ul li:not(:last-child) {
        display: none;
    }

    .wrapper, .wrapper-post {
        width: 90%;
        max-width: unset;
    }

    .wrapper-img {
        width: 100%;
        max-width: unset;
    }

    .wrapper-img p {
        width: 90%;
    }

    .wrapper-img .split {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .wrapper-img .split img {
        width: 100%;
        margin: 0;
    }

    .popup {
        flex-direction: column;
        height: 100dvh;
    }

    .popup #controls {
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
    }

    .popup #controls img {
        width: 10vw;
    }

    .popup div {
        width: 90%;
        margin-top: auto;
    }

    .popup img, .popup video {
        max-height: 75lvh;
    }

    footer {
        width: 100%;
    }

    .footer-wrapper {
        padding: 0;
    }

    .info span {
        font-size: 0.8rem;
    }
}
