* {
    margin: 0;
    font-family: 'Atkinson Hyperlegible';

    /* https://coolors.co/ee8f1b-d17b0f-3e3e33-70715c-d9dac9-fcfced */
    --bg: #fcfced;
    --bg2: #d9dac9;

    --fg: #3e3e33;
    --fg2: #575848;

    --accent: #d17b0f;
    --accent-transparent: rgba(238, 143, 27, 0.5);
    --accent2: #ee8f1b;
    --accentBlue: #0f65d1;
}

/* General */

body {
    background-color: var(--bg);
    color: var(--fg);
}

a {
    padding-left: 0.1em;
    padding-right: 0.1em;
    transition: background-color 0.2s ease;
    text-decoration: underline;
    color: var(--fg);
}

a:hover {
    background-color: var(--accent-transparent);
}

button, .button {
    background: var(--accent2);
    border: 4px solid var(--accent2);
    padding: 0.3em 0.6em;
    font-weight: 700;
    font-size: 1em;
    color: var(--bg);
    border-radius: 0.5em;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

button:hover, button:focus, button:active, .button:active, .button:focus, .button:hover {
    background: var(--accent);
    border: 4px solid var(--accent);
}

hr {
    width: 25%;
    margin: 20px auto;
    border: none;
    border-top: 1px solid var(--fg2);
    text-align: center;
}

h1 {
    font-size: 2.3em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.7em;
    margin-bottom: 0.3em;
}

p {
    margin-bottom: 1em;
}

.larger {
    font-size: 1.3em;
}

.grey {
    color: var(--fg2);
}

aside {
    padding-left: 1em;
    margin-bottom: 1em;
    border-left: 2px solid var(--accent2);
    color: var(--fg2);
}

img {
    border-radius: 5px;
    max-width: 100%;
    margin: 1rem 0;
}

p,
aside,
span,
li {
    line-height: 1.6rem;
}


/* Building Blocks/Wrappers */

main {
    margin: 0 auto;
    width: 40%;
}

section {
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 992px) {
    main {
        width: 90%;
    }
}

/* Nav */

nav {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.5em;
    color: var(--fg2)
}

.nav-wrapper {
    margin: auto auto;
    width: 40%;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--fg2);
}


nav span.left {
    flex-grow: 1;
}

nav span.right {
    padding-left: 0.5em;
}

a#hamburger-button {
    display: none;
}

@media only screen and (max-width: 992px) {
    .nav-wrapper {
        width: 90%;
    }

    nav .menu {
        width: 100%;
        display: none;
    }

    nav .menu.mobile-show {
        display: block;
    }
    nav .mobile-hide {
        display: none;
    }

    a#hamburger-button {
        padding: 10px;
        font-size: 1.5em;
        line-height: 1;
        text-decoration: none;
        display: inline-block;
    }

    a#hamburger-button::after {
        content: "\2630";
    }

    a#hamburger-button.active::after {
        content: "\2716";
    }
}

/* Home Page Previews */


.preview {
    padding-left: 1em;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
    border-left: 2px solid var(--accent);
}


h3.read-more a {
    text-decoration: none;
    color: var(--fg);
}

/* Footer */

footer {
    width: 50%;
    margin: auto;
    padding: 1em 0;
    border-top: 1px solid var(--bg2);
    color: var(--fg2);
}

.footer-wrapper {
    padding: 0 1em;
    width: 100%
}

footer a {
    text-decoration: none;
    margin-right: 0.5em;
}


@media only screen and (max-width: 992px) {
    footer {
        width: 80%;
    }
}
