@font-face {
  font-family: 'terminus';
  font-weight: bold;
  /* font-style: italic; */
  src: url('./Terminess (TTF) Nerd Font Complete Mono Windows Compatible.ttf');
}

body {
    color: #ebdbb2;
    background: #282828;
    font-family: terminus;
}

body::-webkit-scrollbar {
    display: none;
}

em {
    color: #d65d0e;
}

.center {
    padding: 0 15%;
    text-align: center;
}

/* .center-Items { */
/*     display: flex; */
/*     justify-content: center; */
/* } */

button {
    background: #fe8019 !important;
    padding: 0.5rem 1rem !important;
    color: #fabd2f !important;
}

button:hover {
    filter: brightness(85%) !important;
}

h1,h2 {
    color: #f9f5d7;
}

a {
    color: #458588 !important;
}

a:hover {
    color: #83a598 !important;
}

.nav {
    width: 100vw;
    height: 4rem;
    background: #1d2021;
    padding: 0 2rem;
    /* overflow: hidden; */
    display: inline-block;
}

@media (max-width: 800px) {
    .nav {
        height: auto;
    }
}

.nav a {
    height: 4rem;
    padding-right: 2rem;
    padding-top: 0.3rem;
    font-size: 2rem;
    display: inline-block;
    color: #fabd2f !important;
}

.nav a:hover {
    filter: brightness(85%);
}

.nav a.active, .nav a.disabled {
    color: #a89984 !important;
}

.nav a.active:hover, .nav a.disabled:hover {
    filter: brightness(100%);
    cursor: pointer;
}
