* {
    margin: 0;
    font-family: 'Atkinson';

    /* https://coolors.co/ee8f1b-d17b0f-3e3e33-70715c-d9dac9-fcfced */
    --bg: #fcfced;
    --bg2: #d9dac9;

    --fg: #2A2A22;
    --fg2: #575848;

    --accent: #d17b0f;
    --accent2: #ee8f1b;
}

@font-face {
    font-family: "Atkinson";
    font-style: normal;
    src: url(/assets/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf)
}

@font-face {
    font-family: "Atkinson";
    font-style: italic;
    src: url(/assets/fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf)
}

/* General */
body {
    position: relative;
    z-index: 0;
    background-color: var(--bg);
    color: var(--fg);
}


.wrapper {
    width: 70%;
    max-width: 1400px;
    margin: auto;
}

.wrapper-full {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.wrapper-title {
    text-align: center;
}

.wrapper-post {
    width: 45%;
    max-width: 1400px;
    margin: auto;
}

.wrapper-img {
    width: 60%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper-split {
    display: flex;
    gap: 3rem;
}

.wrapper-code {
    width: 65%;
    max-width: 1400px;
    margin: auto;
}

.wrapper-code * {
    font-weight: normal !important;
    font-size: 1.25rem;
    font-family: "FiraCode";
}

.images {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.image-grid {
    display: flex;
    gap: 0.5rem;
}

.image-grid .column div p {
    font-weight: 100;
    font-size: 0.85rem;
    line-height: 0.85rem;
    margin-top: 0;
}

.image-grid .column {
    width: 50%;
}

.image-grid img {
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: unset;
    margin-bottom: 0.5rem;
}

.get-in-touch {
    text-align: center;
}

.get-in-touch p {
    display: inline-block;
    margin-right: 0.5rem;
}

.smaller {
    font-size: 1rem;
    font-weight: 100;
}

.larger {
    font-size: 2rem;
}

.blue {
    color: var(--accentBlue);
}

.orange {
    color: var(--accent);
}

.grey {
    color: var(--fg2);
}

.header .smaller {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

}

p, li, ul {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

a {
    padding-left: 0.1em;
    padding-right: 0.1em;
    transition: background-color 0.2s ease;
    text-decoration: underline;
    color: var(--fg);
}

a:hover {
    color: var(--accent);
}

hr {
    width: 25%;
    margin: 20px auto;
    border: none;
    border-top: 1px solid var(--fg);
    text-align: center;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

img {
    margin: 1rem 0;
    max-width: 100%;
    max-height: 500px;
}

aside {
    padding-left: 1em;
    margin-bottom: 1em;
    border-left: 2px solid var(--accent2);
    color: var(--fg2);
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: var(--accent);
    border: 4px solid var(--accent);
    color: var(--bg);
    margin: 0.675rem 0;
    line-height: 1.1;
    font-weight: 700;
    transition: all 0.2s ease;
}

.button:hover {
    color: var(--bg);
    text-shadow: none;
    background-color: var(--fg);
    border: 4px solid var(--fg);
}

/* NAVBAR */

nav {
    padding-top: 1rem;
    border-bottom: 2px solid var(--fg);
    margin: auto auto;
    margin-bottom: 3rem;
    width: 70%;
    /* background: var(--fg); */
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-size: 1rem;
}

nav ul {
display: flex;
  list-style: none;
  padding-left: 0.25rem;
  align-items: center;
  margin-bottom: 0;
}

nav ul li {
    float: left;
  margin-bottom: 0;
  list-style: none;
  padding-left: 2.25rem;
}

nav ul li a, nav a:has(h1) {
    text-decoration: none;
}

/* Front Page */

#homepage .wrapper h2 {
    width: 100%;
    text-align: center;
}

#homepage .wrapper .wrapper-more {
    width: 100%;
    display: flex;
    justify-content: end;
}

#homepage .wrapper#projects {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a:has(article) {
    text-decoration: none !important;
    border: 3px solid var(--fg);
    padding: 1rem;
}

.bento-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 1rem;
}

/* Footer */

footer {
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    padding: 1em 0;
    border-top: 2px solid var(--fg);
    color: var(--fg2);
    text-align: center;
}

.footer-wrapper {
    padding: 0 1em;
    width: 100%
}

footer a {
    text-decoration: none;
    margin-right: 0.5em;
}

/* Charts */
.wrapper-chart {
    width: 65%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    nav h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    nav {
        width: calc(100% - 2rem);
        padding: 1rem;
    }

    nav ul li:not(:last-child) {
        display: none;
    }

    .wrapper {
        width: 90%;
        max-width: unset;
    }

    .wrapper-post {
        width: 90%;
        max-width: unset;
    }

    .wrapper-img {
        width: 90%;
    }

    .images {
          display: flex;
          flex-direction: column;
          padding: 0rem;
          gap: 1rem;
    }

    .images img {
        margin-bottom: 0;
    }

    .bento-box {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .columns {
        gap: 0;
        flex-direction: column;
    }

    article {
        padding-bottom: 1.5rem;
    }

    footer {
        width: 100%;
    }

    .footer-wrapper {
        padding: 0;
    }

    .info span {
        font-size: 0.8rem;
    }
}
