#main {
    overflow-x:hidden;
}

h3 {
    margin-bottom: 0rem;
    padding-bottom: 0;
}

.image-header {
    background-image: url(../assets/photos/2026-01-25/8.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.image-header h2 {
    padding-top: calc(50lvh);
    padding-bottom: 10lvh;
    color: var(--bg);
    text-shadow: -5px 5px var(--fg);
    font-size: 4rem;
}

.slideshow {
    display: flex;
    gap: 1rem;
    flex-wrap:nowrap;
    width: unset;
    overflow-x:visible;
}

.slideshow-wrapper {
    padding-bottom: 20rem;
}

.slideshow img {
    border: none;
    margin: 0 0;
    width: auto;
    max-height: 75lvh;
    max-width: none;
}

.slideshow img:first-child {
    margin-left: 1rem;
}

@media only screen and (max-width: 992px) {
    .slideshow img {
        max-height: min-content !important;
        width: auto !important;
        max-width: 100vw !important;
    }

    .slideshow {
        align-items: center;
    }
}
